@{
    ViewData["Title"] = "Home Page";


 }
<h6 class="info">
    Hvis "@System.Environment.MachineName" ikke er navnet på din SQL Server må den sættes manuelt i SqlServer.cs  rodmappen.
</h6>
<br/><br /><br />
<div class="text-center">
    <h1 class="display-4">Vagter d. @DateTime.Now.ToString("d/M/yyyy")</h1>
</div>
<br/><br /><br />
@{ 
    List<ShiftDisplay> todaysSfifts = TaskPlanner.Helpers.DbQueries.TodaysShifts();
}
    <table class="table thead-dark">
        <thead>
            <tr>
                <th>Start tidspunkt</th>
                <th>Slut tidspunkt</th>
                <th>Medarbejder (alder)</th>
            </tr>
        </thead>
            <tbody>
                @foreach (ShiftDisplay display in todaysSfifts)
                {
                <tr>
                    <td>@display.Start</td>
                    <td>@display.End</td>
                    <td>@display.Employee (@display.Age)</td>
                </tr>
                }
            </tbody>
     </table>